
<!-- <* class="roll-wrapper"></*> -->
<span class="feature-roll">
  <div class="value">{{{value}}}</div>
  <div class="label {{isNilOrEmpty label 'hidden'}}">{{{label}}}</div>
</span>
{{#if asterisk}}<span class="asterisk">*</span>{{/if}}


{{!-- 
<div class="button">
  <div class="value">{{{value}}}</div>
  <div class="label">{{{label}}}</div>
</div> --}}