{{!-- {{log 'gurps-mobile' 'feature' this._feature.name this level='error'}} --}}
<div class="feature {{join classes}}" data-id="{{id}}" data-context="{{_context}}" data-path="{{path}}" data-index="{{index}}" data-wrapper="{{_wrapper}}">
  <div class="children">
    {{#each _metadata.childrenKeys}}
      {{!-- {{log 'gurps-mobile' ../children this (get ../children this 'array') level='error'}} --}}
      {{#each (get ../children this 'array')}}
        {{!-- {{log 'gurps-mobile' .. this ../.. level='error'}} --}}

        <div class="feature-data interactible {{join classes}}" data-id="{{id}}">
          {{#unless (isNilOrEmpty actions.left)}}
            <div class="action left">
              <div>
                {{#each actions.left}}
                  {{#if @index}}<div class="divider"><div></div></div>{{/if}}
                  <div class="{{join classes}}">
                  {{#each children}}
                    <div class="{{join classes}}">
                      {{#unless (isNilOrEmpty icon)}}{{gurpsIcon icon}}{{/unless}}
                    </div>
                  {{/each}}
                  </div>                  
                {{/each}}
              </div>
            </div>
          {{/unless}}
          
          {{!-- <div class="action left">
            <i class="material-icons">done</i>
          </div> --}}

          {{!-- <div class="children" style="font-family: sans-serif; padding: 16px; background-color: whitesmoke;">
            <div>
              Swipe me to the left or right
            </div>          
          </div> --}}

          <div class="children">
            {{#each variants}}
              <div class="feature-variant {{join classes}} {{isNilOrEmpty tags '' 'has-tags'}} {{isNilOrEmpty notes '' 'has-notes'}} {{isNilOrEmpty value '' 'has-value'}} {{isNilOrEmpty stats '' 'has-stats'}} {{isNilOrEmpty icon '' 'has-icon'}} {{isNilOrEmpty rolls '' 'has-rolls'}}" data-id="{{id}}">
                <div class="mark"><div>{{mark}}</div></div>
                <div class="chevron prev"><i class="icon mdi mdi-chevron-left"></i></div>
                <div class="wrapper">
                  <div class="content">
                    <!-- ICON -->
                    {{#if icon}}
                      {{> gurps/feature_icon icon}}
                    {{/if}}
                    <!-- LABEL -->
                    <div class="label main {{isNilOrEmpty label.main 'hidden'}} {{join label.classes}}">
                      <div class="main">
                        <!-- LABEL.TRAY -->
                        <div class="tray">
                          <div class="children">
                            <div class="icon-wrapper pin"><i class="icon mdi mdi-pin"></i></div>
                          </div>
                        </div>
                        <!-- LABEL.MAIN -->
                        <span>{{{i18n label.main}}}</span>
                      </div>
                    </div>
                    <div class="label secondary {{isNilOrEmpty label.secondary 'hidden'}} {{join label.classes}}">
                      <div class="secondary">{{{label.secondary}}}</div>
                    </div>
                    <!-- EXPAND -->
                    <div class="expand">
                      <i class="expand icon mdi mdi-chevron-down"></i>
                      <i class="collapse icon mdi mdi-chevron-up"></i>
                    </div>
                    <!-- VALUE -->
                    {{#if value}}
                      <div class="label value roll-selected roll-wrapper compact {{isNilOrEmpty value.secondary_label 'hidden'}} {{join value.classes}}" data-roll-step="0">
                        {{{'value.secondary_label'}}}
                      </div>
                      <div class="value roll-selected roll-wrapper compact {{isNilOrEmpty value 'hidden'}}" data-roll-step="0">{{> gurps/feature_roll value}}</div>
                    {{/if}}
                    <!-- STATS -->
                    {{#if stats}}
                      <div class="stats {{isNilOrEmpty stats 'hidden'}}">
                        {{#each stats}}
                          <div class="stat {{join classes}} {{isNilOrEmpty roll 'non-interactible'}}" data-roll-step="{{roll}}">
                            <div class="icon-wrapper {{isNilOrEmpty this.icon 'hidden'}}">
                              {{#each this.icon}}
                                {{gurpsIcon this}}
                              {{/each}}
                            </div>
                            <div class="label {{isNilOrEmpty this.label 'hidden'}}">{{this.label}}</div>
                            <div class="value">{{this.value}}</div>
                          </div>
                        {{/each}}
                      </div>
                    {{/if}}
                    <!-- ROLLS -->
                    {{#if rolls}}
                      <div class="rolls {{#if (gt rolls.length 0)}}at-first{{/if}} {{#if (eq rolls.length 1)}}at-last{{/if}} {{isNilOrEmpty stats 'hidden'}}" data-selected="0">
                        <div class="background"></div>
                        <div class="previous"><div class="icon"><i class="mdi mdi-circle-medium"></i></div></div>
                        <div class="wrapper">
                          {{#each rolls}}
                            <div class="roll {{join classes}} roll-wrapper interactible" data-step="{{step}}">
                              <div class="content-wrapper">
                                {{#each content}}
                                  <div class="content">
                                    <div class="primary {{isNilOrEmpty primary 'hidden'}}">{{primary}}</div>
                                    <div class="secondary {{isNilOrEmpty secondary 'hidden'}}">{{secondary}}</div>
                                    <div class="tertiary {{isNilOrEmpty tertiary 'hidden'}}">{{tertiary}}</div>
                                  </div>
                                {{/each}}
                              </div>
                              {{> gurps/feature_roll this}}
                            </div>
                          {{/each}}
                        </div>
                        <div class="next"><div class="icon"><i class="mdi mdi-circle-medium"></i></div></div>
                      </div>
                    {{/if}}
                    <!-- NOTES -->
                    <div class="notes {{isNilOrEmpty notes 'hidden'}}">
                      {{#each notes}}<p>{{this}}</p>{{/each}}
                    </div>
                    <!-- TAGS -->
                    <div class="tags"><div class="children">{{#each tags}}{{> gurps/feature_tag this}}{{/each}}</div></div>
                  </div>
                </div>
                <div class="chevron next"><i class="icon mdi mdi-chevron-right"></i></div>
              </div>
            {{/each}}
          </div>
          
          {{#unless (isNilOrEmpty actions.right)}}
            <div class="action right">
              <div>
                {{#each actions.right}}
                  {{#if @index}}<div class="divider"><div></div></div>{{/if}}
                  <div class="{{join classes}}">
                  {{#each children}}
                    <div class="{{join classes}}">
                      {{#unless (isNilOrEmpty icon)}}{{gurpsIcon icon}}{{/unless}}
                    </div>
                  {{/each}}
                  </div>                  
                {{/each}}
              </div>
            </div>
          {{/unless}}
        </div>
      {{/each}}
    {{/each}}
  </div>
</div>