<div class="feature-icon icon {{join classes}}">
  <div class="wrapper">
    <div class="icon main {{isNilOrEmpty main 'hidden'}}">{{gurpsIcon main}}</div>
    <div class="icon secondary {{isNilOrEmpty secondary 'hidden'}}">{{gurpsIcon secondary}}</div>
  </div>  
</div>