{{!-- {{log 'gurps-mobile' 'feature' this._feature.name this level='error'}} --}}
<div class="feature {{join classes}}" data-id="{{id}}" data-context="{{_context}}" data-path="{{path}}" data-index="{{index}}" data-wrapper="{{_wrapper}}">
  <div class="children">
    {{#each _metadata.childrenKeys}}
      {{!-- {{log 'gurps-mobile' ../children this (get ../children this 'array') level='error'}} --}}
      {{#each (get ../children this 'array')}}
        {{!-- {{log 'gurps-mobile' .. this ../.. level='error'}} --}}

        <div class="feature-data interactible {{join classes}}" data-id="{{id}}">
          {{#unless (isNilOrEmpty actions.left)}}
            <div class="action left">
              <div>
                {{#each actions.left}}
                  {{#if @index}}<div class="divider"><div></div></div>{{/if}}
                  <div class="{{join classes}}">
                  {{#each children}}
                    <div class="{{join classes}}">
                      {{#unless (isNilOrEmpty icon)}}{{gurpsIcon icon}}{{/unless}}
                    </div>
                  {{/each}}
                  </div>                  
                {{/each}}
              </div>
            </div>
          {{/unless}}
          
          {{!-- <div class="action left">
            <i class="material-icons">done</i>
          </div> --}}

          {{!-- <div class="children" style="font-family: sans-serif; padding: 16px; background-color: whitesmoke;">
            <div>
              Swipe me to the left or right
            </div>          
          </div> --}}

          <div class="children">
            {{#each variants}}
              <div class="feature-variant {{join classes}} {{isNilOrEmpty tags '' 'has-tags'}} {{isNilOrEmpty notes '' 'has-notes'}} {{isNilOrEmpty value '' 'has-value'}}" data-id="{{id}}">
                <div class="mark"><div>{{mark}}</div></div>
                <div class="chevron prev"><i class="icon mdi mdi-chevron-left"></i></div>
                <div class="wrapper">
                  <div class="content">
                    <!-- ICON -->
                    <div class="icon {{join icon.classes}}">
                      <div class="icon-wrapper">{{gurpsIcon icon.value}}</div>
                    </div>
                    <!-- LABEL -->
                    <div class="label main {{isNilOrEmpty label.main 'hidden'}} {{join label.classes}}">
                      <div class="main">
                        <!-- LABEL.TRAY -->
                        <div class="tray">
                          <div class="children">
                            <div class="icon-wrapper pin"><i class="icon mdi mdi-pin"></i></div>
                          </div>
                        </div>
                        <!-- LABEL.MAIN -->
                        <span>{{{i18n label.main}}}</span>
                      </div>
                    </div>
                    <div class="label secondary {{isNilOrEmpty label.secondary 'hidden'}} {{join label.classes}}">
                      <div class="secondary">{{{label.secondary}}}</div>
                    </div>
                    <!-- EXPAND -->
                    <div class="expand">
                      <i class="expand icon mdi mdi-chevron-down"></i>
                      <i class="collapse icon mdi mdi-chevron-up"></i>
                    </div>
                    <!-- VALUE -->
                    {{#if value}}
                      <div class="label value {{isNilOrEmpty value.secondary_label 'hidden'}} {{join value.classes}}">
                        {{{'value.secondary_label'}}}
                      </div>
                      <div class="value {{isNilOrEmpty value 'hidden'}}">{{> gurps/feature_value value}}</div>
                    {{/if}}
                    <!-- STATS -->
                    {{#if stats}}
                      <div class="stats {{isNilOrEmpty stats 'hidden'}}">
                        {{#each stats}}
                          <div class="stat  {{join classes}}">
                            <div class="icon {{isNilOrEmpty this.icon 'hidden'}}">{{gurpsIcon this.icon}}</div>
                            <div class="label {{isNilOrEmpty this.label 'hidden'}}">{{this.label}}</div>
                            <div class="value">{{this.value}}</div>
                          </div>
                        {{/each}}
                      </div>
                    {{/if}}
                    <!-- ROLLS -->
                    <div class="rolls">
                      <div class="background"></div>
                      <div class="previous"><div class="icon"><i class="mdi mdi-circle-medium"></i></div></div>
                      <div class="wrapper">
                        <div class="roll from-value active" data-id="id">
                          <div class="content-wrapper">
                            <div class="content">
                              <div class="primary">Primary</div>
                              <div class="secondary">Secondary</div>
                              <div class="tertiary">Tertiary</div>
                            </div>
                          </div>
                          <div class="button">
                            <div class="value">16</div>
                            <div class="label">IQ+1</div>
                          </div>
                        </div>
                        <div class="roll" data-id="id">
                          <div class="content-wrapper">
                            <div class="content">
                              <div class="primary">Primary</div>
                              <div class="secondary">Secondary</div>
                              <div class="tertiary">Tertiary</div>
                            </div>
                          </div>
                          <div class="button">
                            <div class="value">16</div>
                            <div class="label">IQ+1</div>
                          </div>
                        </div>
                      </div>
                      <div class="next"><div class="icon"><i class="mdi mdi-circle-medium"></i></div></div>
                    </div>
                    <!-- NOTES -->
                    <div class="notes {{isNilOrEmpty notes 'hidden'}}">
                      {{#each notes}}<p>{{this}}</p>{{/each}}
                    </div>
                    <!-- TAGS -->
                    <div class="tags"><div class="children">{{#each tags}}{{> gurps/feature_tag this}}{{/each}}</div></div>
                  </div>
                </div>
                <div class="chevron next"><i class="icon mdi mdi-chevron-right"></i></div>
              </div>
            {{/each}}
          </div>
          
          {{#unless (isNilOrEmpty actions.right)}}
            <div class="action right">
              <div>
                {{#each actions.right}}
                  {{#if @index}}<div class="divider"><div></div></div>{{/if}}
                  <div class="{{join classes}}">
                  {{#each children}}
                    <div class="{{join classes}}">
                      {{#unless (isNilOrEmpty icon)}}{{gurpsIcon icon}}{{/unless}}
                    </div>
                  {{/each}}
                  </div>                  
                {{/each}}
              </div>
            </div>
          {{/unless}}
        </div>
      {{/each}}
    {{/each}}
  </div>
</div>